.react-calendar {
    background: #414344;
    padding: 10px;
}

.react-calendar__navigation__label {
    background-color: #5f6264;
    border: 1px solid #414344;
}

.react-calendar__navigation__arrow {
    background-color: #5f6264;
    border: 1px solid #414344;
    width: 20px;
}

.react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.react-calendar__month-view__days__day {
    background: #414344; 
    color: #ededed;
  }
  
.react-calendar__tile--active {
    background: #6b6e70;
    color: #ededed;
    height: 30px;
}

.react-calendar__tile {
    border: 1px solid #5f6264;
    border-radius: 4px;
    height: 30px;
}

.react-calendar__month-view__weekdays {
    text-decoration: underline;
    text-align: center;
}